Repository conda-incubator/conda-store, pull requests merged in 2024-05, with the labels that each got.

#813 Run tests as separate jobs
  .github/workflows/test_build_docker_image.yaml
  .github/workflows/test_conda_store.yaml
  .github/workflows/test_conda_store_server_integration.yaml
  .github/workflows/test_conda_store_server_unit.yaml
  .github/workflows/tests.yaml
  conda-store-server/tests/user_journeys/utils/api_utils.py
  tests/test_api.py
Labels: area: testing ✅, status: in progress 🏗, area: CI 👷🏽‍♀️

#808 Implement log flushing
  conda-store-server/conda_store_server/action/base.py
  conda-store-server/conda_store_server/action/generate_constructor_installer.py
  conda-store-server/conda_store_server/action/install_lockfile.py
  conda-store-server/conda_store_server/action/utils.py
  conda-store-server/conda_store_server/build.py
  conda-store-server/conda_store_server/storage.py
Labels: type: enhancement 💅🏼, status: in progress 🏗, area: user experience 👩🏻‍💻, project: challenges

#777 Support hash-only build paths
  conda-store-server/conda_store_server/__init__.py
  conda-store-server/conda_store_server/alembic/versions/e17b4cc6e086_add_build_hash.py
  conda-store-server/conda_store_server/app.py
  conda-store-server/conda_store_server/build.py
  conda-store-server/conda_store_server/orm.py
  conda-store-server/conda_store_server/server/views/registry.py
  conda-store-server/conda_store_server/storage.py
  conda-store-server/conda_store_server/worker/tasks.py
  conda-store-server/tests/test_actions.py
  docusaurus-docs/community/policies/backwards-compatibility.md
  docusaurus-docs/conda-store/references/configuration-options.md
  docusaurus-docs/conda-store/references/faq.md
Labels: type: enhancement 💅🏼, area: configuration, status: in progress 🏗, project: challenges

#772 Add ability to create environment from lockfile
  conda-store-server/conda_store_server/action/__init__.py
  conda-store-server/conda_store_server/action/generate_constructor_installer.py
  conda-store-server/conda_store_server/action/generate_lockfile.py
  conda-store-server/conda_store_server/alembic/versions/bf065abf375b_lockfile_spec.py
  conda-store-server/conda_store_server/api.py
  conda-store-server/conda_store_server/app.py
  conda-store-server/conda_store_server/build.py
  conda-store-server/conda_store_server/dbutil.py
  conda-store-server/conda_store_server/orm.py
  conda-store-server/conda_store_server/schema.py
  conda-store-server/conda_store_server/server/templates/base.html
  conda-store-server/conda_store_server/server/templates/create.html
  conda-store-server/conda_store_server/server/templates/environment.html
  conda-store-server/conda_store_server/server/views/api.py
  conda-store-server/conda_store_server/server/views/ui.py
  conda-store-server/conda_store_server/utils.py
  conda-store-server/tests/assets/conda-lock.zlib.flask.yaml
  conda-store-server/tests/conftest.py
  conda-store-server/tests/test_actions.py
  tests/assets/conda_store_config.py
  tests/test_api.py
Labels: type: enhancement 💅🏼, area: api, status: in progress 🏗, project: JATIC, area: user experience 👩🏻‍💻

#824 Add conda-store Usability Study Report.md
  docusaurus-docs/community/design/usability-study.md
Labels: area: UI/UX design ✨, status: merge ready 🚀, area: user experience 👩🏻‍💻
